<!-- Describe task in general -->

<p style="text-align: justify;">
    Вам задано невідсортований рядок унікальних (без урахування регістру) малих та/або великих літер. Подайте його у вигляді коректної маски для впорядкованих у квадрат літер алфавіту від "a" до "y" (у порядку зростання рядка). Маска повинна бути матрицею цілих чисел 5x5 у вигляді кортежу кортежів за наступним правилом.
    <ul>
        <li>символ відсутній у рядку - використовуйте <code>0</code> у масці;</li>
        <li>символ у нижньому регістрі - використовуйте <code>1</code>;</li>
        <li>символ у верхньому регістрі - використовуйте <code>2</code>.</li>
    </ul>
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}string-2-matrix.svg" alt="example" style="max-height: 250px"/>
</p>

<p style="text-align: justify;">
    Ось завдання для зворотного перетворення - <a target="_blank" href="https://py.checkio.org/en/mission/matrix-2-string/">Matrix-2-String</a>.
</p>
<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок (<span>str{% if is_js %}ing{% endif %}</span>).
</p>

<p>
   <strong>Вихідні дані:</strong> Кортеж з п'яти кортежів по п'ять цілих чисел (<span>{% if is_js %}number{% else %}int{% endif %}</span>) у кожному. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Умова:</strong>
    <ul>
    <li><i>у рядку немає символу "z".</i></li>
    </ul>
</p>
