<!-- Describe task in general -->

<p style="text-align: justify;">
    On vous donne une chaîne non triée de lettres minuscules et/ou majuscules uniques (sans tenir compte de la casse). Représentez-la comme un masque correct pour les lettres de l'alphabet disposées en carré de "a" à "y" (ordre ligne-majeur). Le masque doit être une matrice 5x5 d'entiers sous forme de n-uplets de n-uplets avec la règle suivante.
    <ul>
        <li>le caractère n'est pas présent dans la chaîne - utilisez <code>0</code> dans le masque;</li>
        <li>le caractère est en minuscule - utilisez <code>1</code>;</li>
        <li>le caractère est en majuscule - utilisez <code>2</code>.</li>
    </ul>
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}string-2-matrix.svg" alt="example" style="max-height: 250px"/>
</p>

<p style="text-align: justify;">
    Voici une mission pour effectuer une conversion inversée - <a target="_blank" href="https://py.checkio.org/en/mission/matrix-2-string/">Matrix-2-String</a>.
</p>
<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Chaîne (<span>str{% if is_js %}ing{% endif %}</span>).
</p>

<p>
   <strong>Sortie:</strong> Tuple de cinq tuples de cinq entiers (<span>{% if is_js %}number{% else %}int{% endif %}</span>) chacun. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li><i>pas de "z" dans la chaîne.</i></li>
    </ul>
</p>
